name: windows
on: 
  workflow_dispatch:
defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: windows-2022
    timeout-minutes: 36000
    steps:
    - uses: actions/checkout@v5
    - name: Set environment vars
      env:
        TAILSCALE_TOKEN: ${{ secrets.TAILSCALE_TOKEN }}
        VNC_USER_PASSWORD: ${{ secrets.VNC_USER_PASSWORD }}
        VNC_PASSWORD: ${{ secrets.VNC_PASSWORD }}
        VNC_USER: ${{ secrets.VNC_USER }}
      run: |
        echo "TAILSCALE_TOKEN=${{ env.TAILSCALE_TOKEN }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
        echo "VNC_USER=${{ env.VNC_USER }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
        echo "VNC_USER_PASSWORD=${{ env.VNC_USER_PASSWORD }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
        echo "VNC_PASSWORD=${{ env.VNC_PASSWORD }}" | Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append        
    - name: Setting the environment up.
      working-directory: ./github-runner-windows-gui
      run: ./init.ps1

    #keep session running
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
